.header {
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 01rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}


.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.logo {
  font-size: 1.5rem;
  color: #333;
}


.user-access {
  position: relative;
}


.access-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  color: #333;
}


.access-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  min-width: 150px;
  border-radius: 4px;
}