@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Estilos generales */
.home-content {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

/* Sección de "Qué es NoimaLab" */
.about-section {
  margin: 40px;
  padding: 2rem;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
  color: #fa8072; /* Salmón pastel */
}

.about-section p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about-section img {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}

/* Sección Explora */
.explore-section {
  padding: 3rem 2rem;
  background-color: #79c3bfbc;
  text-align: center;
}

.explore-section h2 {
  font-size: 2.5rem;
  color: #333;
}

.explore-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.option-card {
  background-color: #79c3bfbc;
  border: 2px solid #79c3bfbc;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.option-card h4 {
  font-size: 1.6rem;
  color: #333;
  margin-top: 1rem;
}

.option-card p {
  font-size: 1rem;
  color: #555;
  margin-top: 0.8rem;
}

.option-card a {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #79c3bfbc; /* Turquesa suave */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.option-card a:hover {
  color: #fa8072; /* Salmón pastel */
}

/* Frase final inspiradora */
.closing-phrase {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.closing-phrase h3 {
  font-size: 2rem;
  color: #fa8072; /* Salmón pastel igual que los h2 */
  font-style: italic;
  font-family: 'Pacifico', cursive; /* Estilo lettering */
  letter-spacing: 1px;
  margin: 0 20px;
}

/* Footer */
footer {
  background-color: #fa8072; /* Salmón pastel */
  padding: 3rem 2rem;
  text-align: center;
  margin-top: auto;
}

footer p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1rem;
}

footer .hero-button {
  background-color:#fdfdfd;
  color: #fa8072;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 2px solid #fa8072;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

footer .hero-button:hover {
  background-color: #fa8072;
  color: #fff;
}

/* Responsivo */
@media (max-width: 768px) {
  .explore-options {
    flex-direction: column;
    align-items: center;
  }

  .option-card {
    width: 90%;
  }
}
