.form-base {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.form-login {
  border-left: 5px solid  #fff0e0;
}

.form-register {
  border-left: 5px solid #28a745;
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.form-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-input:focus {
  border-color:  #fff0e0;
  outline: none;
}

.form-button {
  padding: 10px;
  background-color:  #fff0e0;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-button:hover {
  background-color:  #fff0e0;
}
button
.form-error {
  margin-top: 10px;
  text-align: center;
  color: red;
}
